<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hrochogym</title>
    {% include 'base.html' %}
    <style>
        .logo{
        border-radius: 5px;

        }
        .image-container {
        width: 250px;
        height: 250px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 5px;
        }

    </style>
</head>
<body>
{% include 'header.html' %}

<div id="signup"class="row mt-5">
      <div class="col-lg-4 mx-auto">
       <img src="/static/logo.jpg" height="200" width="300" alt="Logo" class="logo d-block mx-auto">
        <h2 class="fw-normal text-center">Choose your location</h2>
        <p class="text-center">We have 4 facilities in 4 different countries on 4 different continents, and our goal is to spread to all continents!</p>
      </div>
</div>

<div class="row mb-2 mt-5">
     <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary-emphasis">Indonesia</strong>
                <h3 class="mb-0">Jakarta</h3>
                <div class="mb-1 text-body-secondary">Gwak mang st. 587</div>
                <p class="card-text mb-auto">Ayo bergabunglah dengan pusat kebugaran paling unik di dunia!</p>
                <a href="{{ url_for('choose_gym', city='Jakarta') }}" class="icon-link gap-1 icon-link-hover stretched-link">
                    Check it out
                    <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                </a>
            </div>
                <div class="col-auto d-none d-lg-block">
                    <div class="image-container" style="background-image: url('https://th.bing.com/th/id/OIP.HuSvPKJblbo3d0gkd4N3jwAAAA?rs=1&pid=ImgDetMain');"></div>
        </div>
    </div>
</div>

    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success-emphasis">Pakistan</strong>
                <h3 class="mb-0">Islamabad</h3>
                <div class="mb-1 text-body-secondary">Arham Ayaad sq</div>
                <p class="mb-auto">آؤ اور دنیا کے سب سے منفرد جم میں شامل ہوں!</p>
                <a href="{{ url_for('choose_gym', city='Islamabad') }}" class="icon-link gap-1 icon-link-hover stretched-link">
                    Check it ou
                    <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                </a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <div class="image-container" style="background-image: url('https://assets-global.website-files.com/6493f33dd29927a6f539aafe/64a6c0f23597d6d9e13d7eb1_Islamabad_fc75daa1c7.jpg');"></div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">USA</strong>
          <h3 class="mb-0">Miami, Fl</h3>
          <div class="mb-1 text-body-secondary">Freedom Eagle st. 145</div>
          <p class="card-text mb-auto">Come and join the most unique gym in the world!</p>
          <a href="{{ url_for('choose_gym', city='Miami, Fl') }}" class="icon-link gap-1 icon-link-hover stretched-link">
            Check it out
            <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
          </a>
        </div>
        <div class="col-auto d-none d-lg-block">
            <div class="image-container" style="background-image: url('https://upgradedpoints.com/wp-content/uploads/2021/03/Haulover-Park-Beach-1536x1023.jpg');"></div>
        </div>

      </div>
    </div>

    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">Denmark</strong>
          <h3 class="mb-0">Horsens</h3>
          <div class="mb-1 text-body-secondary">Jensen Boulevard 12</div>
          <p class="card-text mb-auto">Kom og deltag i det mest unikke fitnesscenter i verden!</p>
          <a href="{{ url_for('choose_gym', city='Horsens') }}" class="icon-link gap-1 icon-link-hover stretched-link">
            Check it out
            <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
          </a>
        </div>
        <div class="col-auto d-none d-lg-block">
            <div class="image-container" style="background-image: url('https://files.guidedanmark.org/files/472/284935_udsigt-campus-horsens.png');"></div>

        </div>
      </div>
    </div>


<div id="features"class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">Features</h2>

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
      <div class="col d-flex flex-column align-items-start gap-2">
        <h2 class="fw-bold text-body-emphasis">What you will find in our facilities</h2>
        <p class="text-body-secondary">We strive to provide the best experience and service for our members and proactively develop our places.</p>

      </div>


      <div class="col">
    <div class="row row-cols-1 row-cols-sm-2 g-4">
        <div class="col d-flex flex-column gap-2">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-cup-straw" viewBox="0 0 16 16">
                    <path d="M13.902.334a.5.5 0 0 1-.28.65l-2.254.902-.4 1.927c.376.095.715.215.972.367.228.135.56.396.56.82q0 .069-.011.132l-.962 9.068a1.28 1.28 0 0 1-.524.93c-.488.34-1.494.87-3.01.87s-2.522-.53-3.01-.87a1.28 1.28 0 0 1-.524-.93L3.51 5.132A1 1 0 0 1 3.5 5c0-.424.332-.685.56-.82.262-.154.607-.276.99-.372C5.824 3.614 6.867 3.5 8 3.5c.712 0 1.389.045 1.985.127l.464-2.215a.5.5 0 0 1 .303-.356l2.5-1a.5.5 0 0 1 .65.278M9.768 4.607A14 14 0 0 0 8 4.5c-1.076 0-2.033.11-2.707.278A3.3 3.3 0 0 0 4.645 5c.146.073.362.15.648.222C5.967 5.39 6.924 5.5 8 5.5c.571 0 1.109-.03 1.588-.085zm.292 1.756C9.445 6.45 8.742 6.5 8 6.5c-1.133 0-2.176-.114-2.95-.308a6 6 0 0 1-.435-.127l.838 8.03c.013.121.06.186.102.215.357.249 1.168.69 2.438.69s2.081-.441 2.438-.69c.042-.029.09-.094.102-.215l.852-8.03a6 6 0 0 1-.435.127 9 9 0 0 1-.89.17zM4.467 4.884s.003.002.005.006zm7.066 0-.005.006zM11.354 5a3 3 0 0 0-.604-.21l-.099.445.055-.013c.286-.072.502-.149.648-.222"/>
                </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Nutrition</h4>
            <p class="text-body-secondary">Membership includes access to personalized nutrition plans and healthy meal options to support your fitness goals.</p>
        </div>

        <div class="col d-flex flex-column gap-2">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-nut" viewBox="0 0 16 16">
                    <path d="m11.42 2 3.428 6-3.428 6H4.58L1.152 8 4.58 2zM4.58 1a1 1 0 0 0-.868.504l-3.428 6a1 1 0 0 0 0 .992l3.428 6A1 1 0 0 0 4.58 15h6.84a1 1 0 0 0 .868-.504l3.429-6a1 1 0 0 0 0-.992l-3.429-6A1 1 0 0 0 11.42 1z"/>
                    <path d="M6.848 5.933a2.5 2.5 0 1 0 2.5 4.33 2.5 2.5 0 0 0-2.5-4.33m-1.78 3.915a3.5 3.5 0 1 1 6.061-3.5 3.5 3.5 0 0 1-6.062 3.5z"/>
                </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Equipment</h4>
            <p class="text-body-secondary">State-of-the-art equipment available for all your workout needs, from cardio to strength training.</p>
        </div>

        <div class="col d-flex flex-column gap-2">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-eyeglasses" viewBox="0 0 16 16">
                    <path d="M4 6a2 2 0 1 1 0 4 2 2 0 0 1 0-4m2.625.547a3 3 0 0 0-5.584.953H.5a.5.5 0 0 0 0 1h.541A3 3 0 0 0 7 8a1 1 0 0 1 2 0 3 3 0 0 0 5.959.5h.541a.5.5 0 0 0 0-1h-.541a3 3 0 0 0-5.584-.953A2 2 0 0 0 8 6c-.532 0-1.016.208-1.375.547M14 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0"/>
                </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Professionals</h4>
            <p class="text-body-secondary">Our gym features a team of experienced professionals to guide and support you in achieving your fitness goals.</p>
        </div>

        <div class="col d-flex flex-column gap-2">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M0 0h1v15h15v1H0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5"/>
                </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">App Track</h4>
            <p class="text-body-secondary">Track your workouts and progress with our comprehensive fitness app, designed to help you stay motivated and on track.</p>
        </div>

        <div class="col d-flex flex-column gap-2">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-heart-pulse" viewBox="0 0 16 16">
                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053.918 3.995.78 5.323 1.508 7H.43c-2.128-5.697 4.165-8.83 7.394-5.857q.09.083.176.171a3 3 0 0 1 .176-.17c3.23-2.974 9.522.159 7.394 5.856h-1.078c.728-1.677.59-3.005.108-3.947C13.486.878 10.4.28 8.717 2.01zM2.212 10h1.315C4.593 11.183 6.05 12.458 8 13.795c1.949-1.337 3.407-2.612 4.473-3.795h1.315c-1.265 1.566-3.14 3.25-5.788 5-2.648-1.75-4.523-3.434-5.788-5"/>
                    <path d="M10.464 3.314a.5.5 0 0 0-.945.049L7.921 8.956 6.464 5.314a.5.5 0 0 0-.88-.091L3.732 8H.5a.5.5 0 0 0 0 1H4a.5.5 0 0 0 .416-.223l1.473-2.209 1.647 4.118a.5.5 0 0 0 .945-.049l1.598-5.593 1.457 3.642A.5.5 0 0 0 12 9h3.5a.5.5 0 0 0 0-1h-3.162z"/>
                </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Recovery</h4>
            <p class="text-body-secondary">Access to top-tier recovery tools and techniques to ensure you bounce back faster and stronger from your workouts.</p>
        </div>

        <div class="col d-flex flex-column gap-2">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
                </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Community</h4>
            <p class="text-body-secondary">Join a vibrant community of fitness enthusiasts, share your journey, and find motivation and support.</p>
        </div>
    </div>

</div>


<h2 id="testimonials" class="display-5 fw-bold text-body-emphasis lh-1 mb-3 mt-5">Testimonials from our members</h2>
  <div class="container col-xxl-12 bg-body-secondary px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://filmdaily.co/wp-content/uploads/2020/07/karenhaircut-01-1300x1284.jpg" class="logo d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="400" height="250" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Karen</h1>
        <p class="lead">Despite my sky-high standards, I have no complaints about Hrochogym at all, I don't even have a clue how the manager at this place looks like!</p>
      </div>
    </div>
  </div>
        <div class="b-example-divider"></div>

<div class="container col-xxl-12 px-4 py-5 bg-body-secondary">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Ronnie</h1>
        <p class="lead">I started working out here 3 years ago and I made huge progress with the Hrochgym's nutrition program! I gained 40kgs of lean muscle since joining the gym here in Miami.</p>
      </div>
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://th.bing.com/th/id/R.65c7174255e33a741f29d5f33b03af42?rik=jM43m%2bh%2fmj5cfg&riu=http%3a%2f%2f2.bp.blogspot.com%2f-5YDmFGATC4Y%2fTlYgx7SGJzI%2fAAAAAAAAINY%2fYl0LxfOBjuU%2fs1600%2fRonnie%2bColeman%2b%25252837%252529.jpg&ehk=s4iQ8No3cdVHOYJCjvpHxRl01ZYKnuAoVMxNjpjSopo%3d&risl=&pid=ImgRaw&r=0" class="d-block mx-lg-auto img-fluid logo" alt="Bootstrap Themes" width="400" height="250" loading="lazy">
      </div>
    </div>
  </div>
        <div class="b-example-divider"></div>

          <div class="container col-xxl-12 bg-body-secondary px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://i.kym-cdn.com/photos/images/original/000/870/119/dcb.jpg" class="d-block mx-lg-auto img-fluid logo" alt="Bootstrap Themes" width="400" height="250" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Jeff</h1>
        <p class="lead">Everyone here tolerates my insufferableness as crossfit is my whole personality. The patience and nerves of the staff here is unparalleled.</p>
      </div>
    </div>
  </div>





{% include 'footer.html' %}

</body>
</html>